<%= form_for(@medical_department) do |f| %>
  <% if @medical_department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_department.errors.count, "error") %> prohibited this medical_department from being saved:</h2>

      <ul>
      <% @medical_department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medical_department %><br />
    <%= f.text_field :medical_department %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
