<p id="notice"><%= notice %></p>

<p>
  <b>Medical department:</b>
  <%= @medical_department.medical_department %>
</p>
<p>
  <b>Room No:</b>
  <%= @medical_department.room_no %>
</p>



<%= link_to 'Edit', edit_medical_department_path(@medical_department) %> |
<%= link_to 'Back', medical_departments_path %>
